.footer {
    width: 100%;
    padding: 120px 1rem 125px;
    background: $dark-violet;
    color: $white;
    &__container {
        max-width: $desktop;
        width: 100%;
        margin: 0 auto;
        max-width: calc(1184px + 1rem);
    }
    &__description {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $white;
        max-width: 36.25rem;
        width: 100%;
        margin-bottom: 109px;
    }
    &__heading {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        color: $white;
        margin: 0;
        position: relative;
        text-align: left;
        &::before {
            top: -2rem;
            position: absolute;
            content: "";
            display: block;
            border-radius: 1rem;
            width: 5rem;
            height: 0.25rem;
            background-color: $light-blue;
            @media(max-width: $desktop) {
                top: -1rem;
            }
            @media(max-width: $mobile) {
                width: 2.5rem;
            }
        }
    }
    &__mail {
        display: inline-block;
        font-weight: 500;
        line-height: 2.25rem;
        color: $light-blue;
        font-size: 1rem;
        border-bottom: 2px solid;
        padding-bottom: 0.25rem;
        overflow-wrap: break-word;
        word-wrap: break-word;
        &:link,
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
            transition: transform 0.03s linear;
            transform: scale(1.075);
        }
        &:active {
            text-decoration: none;
            transition: transform 0.03s linear;
            transform: scale(1.025);
        }
    }
    .social {
        margin-bottom: 3rem;
        &__image {
            margin-right: 1.5rem;
            &:hover {
                transition: transform 0.03s linear;
                transform: scale(1.075);
            }
            &:active {
                transition: transform 0.03s linear;
                transform: scale(1.025);
            }
            &__link {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }
    }
}