.footer {
    width: 100%;
    padding: 120px 0 125px;
    background: $dark-violet;
    color: $white;
    &__container {
        max-width: $desktop;
        width: 100%;
        margin: 0 auto;
    }
    @media(max-width: 1400px) {
        padding: 120px 3rem 125px;
    }
    @media(max-width: $mobile) {
        margin: 0;
        padding: 120px 1rem 120px;
    }
}

.social {
    margin-bottom: 3rem;
    &__image {
        margin-right: 1.5rem;
        &:hover {
            transition: transform 0.03s linear;
            transform: scale(1.075);
        }
        &:active {
            transition: transform 0.03s linear;
            transform: scale(1.025);
        }
        &__link {
            display: inline-block;
            margin-right: 1.5rem;
        }
    }
}

// .section {
//     &__description {
//         color: $grey;
//         font-weight: 300;
//         font-size: 1.25rem;
//         line-height: 2.25rem;
//         max-width: 36.25rem;
//         width: 100%;
//         margin-bottom: 3.625rem;
//         
//         @media (max-width: $mobile) {
//             text-align: center;
//             margin-bottom: 2rem;
//             font-weight: 300;
//             font-size: 14px;
//             line-height: 26px;
//         }
//     }
//     &__heading {
//         font-weight: 600;
//         font-size: 2.25rem;
//         line-height: 3rem;
//         color: $dark-violet;
//         margin: 0;
//         position: relative;
//         
//         }
//         @media(max-width: $mobile) {
//             text-align: center;
//             font-size: 24px;
//             line-height: 32px;
//             &--footer {
//                 text-align: left;
//             }
//         }
//     }
// 
//     
//         @media(max-width: $desktop) {
//             min-width: 0;
//             max-width: 379px;
//             width: 100%;
//         }
//         @media(max-width: $mobile) {
//             margin-bottom: 0;
//             font-size: 22px;
//             line-height: 32px;
//         }
//     }
// }