.header {
    margin: 0 auto;
    max-width: calc(1184px + 1rem);
    width: 100%;
    padding: 0 1rem 80px;
    @media(max-width: $mobile) {
        padding: 0 1rem 1rem;
    }
}

.hero {
    padding-top: 7rem;
    max-width: 780px;
    width: 100%;
    @media(max-width: $mobile) {
        padding-top: 4rem;
    }
    &__description {
        color: $grey;
        max-width: 42.5rem;
        width: 100%;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        padding-bottom: 60px;
        @media(max-width: $mobile) {
            font-size: 14px;
            line-height: 26px;
            padding-bottom: 40px;
        }
    }
    &__heading {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.5rem;
        color: $dark-violet;
        @media(max-width: $mobile) {
            font-size: 26px;
            line-height: 36px;
        }
    }
    &__image {
        padding: 5px;
        border-radius: 50%;
        border: 5px solid $light-grey;
        height: 120px;
        width: 120px;
        @media(max-width: $mobile) {
            height: 66px;
            width: 66px;
        }
    }
    &__link {
        display: inline-block;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 2.25rem;
        color: $light-blue;
        &:link,
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
        &:active {
            transition: transform 0.03s linear;
            transform: scale(0.975);
            text-decoration: none;
        }
        &--mail {
            font-size: 1rem;
            border-bottom: 2px solid;
            padding-bottom: 0.25rem;
            overflow-wrap: break-word;
            word-wrap: break-word;
            &:link,
            &:visited {
                text-decoration: none;
            }
            &:hover {
                text-decoration: none;
                transition: transform 0.03s linear;
                transform: scale(1.075);
            }
            &:active {
                text-decoration: none;
                transition: transform 0.03s linear;
                transform: scale(1.025);
            }
        }
        @media(max-width: $mobile) {
            font-size: 14px;
            line-height: 26px;
        }
    }
}