.skills {
    margin: 0 auto;
    max-width: $desktop;
    width: 100%;
    padding: 200px 0 136px;
    &__heading {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        color: $dark-violet;
        margin: 0;
        position: relative;
        @media(max-width: $mobile) {
            text-align: center;
            font-size: 24px;
            line-height: 32px;
        }
    }
    &__horizontal-line {
        margin-bottom: 8rem;
        height: 2px;
        border: none;
        background-color: $light-grey;
        @media(max-width: $mobile) {
            margin-bottom: 4.25rem;
        }
    }
    &__item {
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 2.5rem;
        color: $grey;
        &::before {
            margin-right: 1rem;
            content: "";
            display: inline-block;
            height: 1em;
            width: 1em;
            mask: url(/assets/img/bullet.svg);
            mask-size: contain;
            mask-repeat: no-repeat;
            background-color: $green;
            .skills__list--purple & {
                background-color: $purple;
            }
            .skills__list--blue & {
                background-color: $blue;
            }
        }
        @media (max-width: $mobile) {
            font-size: 14px;
            line-height: 36px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
        grid-gap: 1rem;
        list-style: none;
        @media(max-width: $desktop) {
            grid-template-columns: 1fr;
            grid-gap: 0.5rem;
            padding-left: 0;
        }
    }
    @media(max-width: 1400px) {
        padding: 200px 3rem 176px;
    }
    @media(max-width: $mobile) {
        padding: 120px 1rem 80px;
    }
    &__section {
        display: flex;
        justify-content: space-between;
        &--know-something-about,
        &--want-to-learn {
            padding-top: 48px;
        }
        @media(max-width: $desktop) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    &__subheading {
        color: $dark-violet;
        min-width: 379px;
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        position: relative;
        &::before {
            top: -2rem;
            position: absolute;
            content: "";
            display: block;
            border-radius: 1rem;
            width: 5rem;
            height: 0.25rem;
            background-color: $green;
            @media(max-width: $desktop) {
                top: -1rem;
            }
            @media(max-width: $mobile) {
                width: 2.5rem;
            }
        }
        &--purple {
            &::before {
                background-color: $purple;
            }
        }
        &--blue {
            margin-top: 3rem;
            &::before {
                background-color: $blue;
            }
        }
        @media(max-width: $desktop) {
            min-width: 0;
            max-width: 379px;
            width: 100%;
        }
        @media(max-width: $mobile) {
            margin-bottom: 0;
            font-size: 22px;
            line-height: 32px;
        }
    }
}