    @import "_normalize";
    @import "_variables";
    @import "modules/_hero.scss";
    @import "modules/_skills.scss";
    @import "modules/_projects.scss";
    @import "modules/_contact.scss";
    @import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600&display=swap&subset=latin-ext');
    html {
        box-sizing: border-box;
        scroll-behavior: smooth;
        max-width: 100vw;
        @media (max-width: $mobile) {
            font-size: 11px;
        }
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    body {
        width: 100vw;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        border: solid 1rem $dark-violet;
        @media (max-width: $mobile) {
            border: none;
        }
    }