@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600&display=swap&subset=latin-ext');
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-width: 100vw;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    border: solid 1rem $dark-violet;
    @media (max-width: $desktop) {
        border: none;
    }
}

.footer {
    width: 100%;
    border: none;
    padding: 120px 0 125px;
    background: $dark-violet;
    color: $white;
    &__container {
        max-width: $desktop;
        width: 100%;
        margin: 0 auto;
    }
    @media(max-width: 1400px) {
        padding: 120px 3rem 125px;
    }
    @media(max-width: $mobile) {
        margin: 0;
        padding: 120px 1rem 120px;
        padding-top: 6rem;
    }
}

.header {
    margin: 0 auto;
    max-width: $desktop;
    width: 100%;
    padding: 0 0 200px;
    &__heading {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.5rem;
        color: $dark-violet;
    }
    &__description {
        color: $grey;
        max-width: 42.5rem;
        width: 100%;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
    @media(max-width: 1400px) {
        padding: 0 3rem 200px;
    }
    @media(max-width: $mobile) {
        padding: 1rem;
    }
}

.hero {
    padding-top: 7rem;
    max-width: 780px;
    width: 100%;
}

.link {
    display: inline-block;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2.25rem;
    color: $light-blue;
    &:link,
    &:visited {
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
    &:active {
        transition: transform 0.03s linear;
        transform: scale(0.975);
        text-decoration: none;
    }
    &--mail {
        font-size: 1rem;
        border-bottom: 2px solid;
        padding-bottom: 0.25rem;
        overflow-wrap: break-word;
        word-wrap: break-word;
        &link,
        &visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
            transition: transform 0.03s linear;
            transform: scale(1.075);
        }
        &:active {
            text-decoration: none;
            transition: transform 0.03s linear;
            transform: scale(1.025);
        }
    }
}

.projects {
    width: 100%;
    background: #F5F7FA;
    padding: 120px 0 136px;
    &__container {
        margin: 0 auto;
        max-width: $desktop;
        width: 100%;
    }
    @media(max-width: 1400px) {
        padding: 120px 3rem 136px;
    }
    @media(max-width: $mobile) {
        padding: 80px 1rem 80px;
    }
}

.repositories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    grid-gap: 1.5rem;
    @media(max-width: $mobile) {
        grid-template-columns: 1fr;
    }
}

.repo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    background: $white;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    @media(max-width: 350px) {
        font-size: 0.625rem;
    }
    &__content {
        margin: 3rem;
        @media(max-width: 400px) {
            margin: 2rem;
        }
        @media(max-width: 365px) {
            margin: 1rem;
        }
    }
    &__description {
        margin: 0;
        font-weight: 300;
        font-size: 1.125em;
        line-height: 2em;
        color: $grey;
    }
    &__footer {
        display: flex;
        justify-content: flex-end;
        padding: 1rem 3rem;
        background: #F5F7FA;
        border-radius: 0 0 0.5rem 0.5rem;
        @media(max-width: 310px) {
            padding: 1rem;
        }
    }
    &__link {
        display: inline-block;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 2em;
        color: $light-blue;
        &:link,
        &:visited {
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
            transition: transform 0.03s linear;
            transform: scale(1.075);
            text-decoration: none;
        }
        &:active {
            transition: transform 0.03s linear;
            transform: scale(1.025);
            text-decoration: none;
        }
        &--demo {
            position: relative;
            padding-right: 1.5rem;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                width: 1.5rem;
                height: 1.5rem;
                display: inline-block;
                background-image: url(/assets/img/demo-icon.svg);
                margin-right: 0.625rem;
            }
        }
        &--github {
            padding-left: 1.5rem;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                width: 1.5rem;
                height: 1.5rem;
                display: inline-block;
                background-image: url(/assets/img/code-icon.svg);
                margin-right: 0.625rem;
            }
        }
    }
    &__separator {
        font-weight: 500;
        font-size: 1.125em;
        line-height: 2em;
        display: inline-block;
        width: 2px;
        height: 2em;
        background-color: $light-grey;
    }
    &__title {
        font-weight: 600;
        font-size: 1.25em;
        line-height: 2.25em;
        color: $dark-violet;
        margin: 0;
    }
}

.profile-image {
    padding: 4px;
    border-radius: 50%;
    border: 4px solid $light-grey;
}

.section {
    &__description {
        color: $grey;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 2.25rem;
        max-width: 36.25rem;
        width: 100%;
        margin-bottom: 3.625rem;
        &--footer {
            font-weight: 300;
            font-size: 1.25rem;
            line-height: 2.25rem;
            color: $white;
        }
    }
    &__heading {
        font-weight: 600;
        font-size: 2.25rem;
        line-height: 3rem;
        color: $dark-violet;
        margin: 0;
        text-align: center;
        position: relative;
        &--footer {
            text-align: left;
            color: $white;
            font-weight: 600;
            font-size: 2rem;
            line-height: 2.75rem;
            &::before {
                top: -2rem;
                position: absolute;
                content: "";
                display: block;
                border-radius: 1rem;
                width: 5rem;
                height: 0.25rem;
                background-color: $light-blue;
                @media(max-width: $desktop) {
                    top: -1rem;
                }
            }
        }
    }
    &__horizontal-line {
        margin-bottom: 8rem;
        height: 2px;
        border: none;
        background-color: $light-grey;
        @media(max-width: $mobile) {
            margin-bottom: 3.875rem;
        }
    }
    &__subheading {
        color: $dark-violet;
        min-width: 379px;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.75rem;
        position: relative;
        @media(max-width: $desktop) {
            min-width: 0;
            max-width: 379px;
            width: 100%;
        }
        &~* {
            margin-top: 3rem;
        }
        &::before {
            top: -2rem;
            position: absolute;
            content: "";
            display: block;
            border-radius: 1rem;
            width: 5rem;
            height: 0.25rem;
            @media(max-width: $desktop) {
                top: -1rem;
            }
        }
        &--working-knowledge {
            &::before {
                background-color: $green;
            }
        }
        &--know-something-about {
            &::before {
                background-color: $purple;
            }
            @media(max-width: $desktop) {
                margin-top: 3rem;
            }
        }
        &--want-to-learn {
            margin-top: 3rem;
            &::before {
                background-color: $blue;
            }
            @media(max-width: $desktop) {
                margin-top: 3rem;
            }
        }
    }
}

.skills {
    margin: 0 auto;
    max-width: $desktop;
    width: 100%;
    &__subsection {
        display: flex;
        justify-content: space-between;
        @media(max-width: $desktop) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    &__item {
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 2.5rem;
        color: $grey;
        &::before {
            margin-right: 1rem;
            content: "";
            display: inline-block;
            height: 1em;
            width: 1em;
            mask: url(/assets/img/bullet.svg);
            mask-size: contain;
            mask-repeat: no-repeat;
        }
        &--working-knowledge {
            &::before {
                background-color: $green;
            }
        }
        &--know-something-about {
            &::before {
                background-color: $purple;
            }
        }
        &--want-to-learn {
            &::before {
                background-color: $blue;
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
        grid-gap: 1rem;
        list-style: none;
        @media(max-width: $desktop) {
            grid-template-columns: 1fr;
            grid-gap: 0.5rem;
            padding-left: 0;
        }
    }
    @media(max-width: 1400px) {
        padding: 0 3rem 176px;
    }
    @media(max-width: $mobile) {
        padding: 1rem;
    }
}

.social {
    margin-bottom: 3rem;
    &__image {
        margin-right: 1.5rem;
        &:hover {
            transition: transform 0.03s linear;
            transform: scale(1.075);
        }
        &:active {
            transition: transform 0.03s linear;
            transform: scale(1.025);
        }
        &__link {
            display: inline-block;
            margin-right: 1.5rem;
        }
    }
}